:root { 
    --rojo: #8e2113; 
    --dorado: #f1c40f; 
    --negro: #0a0a0a; 
    --gris: rgba(26, 26, 26, 0.95); 
}

body { font-family: 'Poppins', sans-serif; margin: 0; background-color: var(--negro); color: #fff; overflow-x: hidden; scroll-behavior: smooth; padding-bottom: 150px; }

/* Parallax */
.parallax-bg-container { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; }
.bg-part { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center; transition: opacity 1.2s ease; }
.foto1 { background-image: url('imagenes/terraza.jpg'); opacity: 1; }
.foto2 { background-image: url('imagenes/terraza1.jpg'); opacity: 0; }
.overlay-dark { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.75); z-index: 0; }

/* Header & Cards */
header { height: 45vh; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 1; position: relative; }
.logo-img { max-width: 150px; border-radius: 8px; border: 3px solid var(--rojo); background: white; }

.grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 25px; padding: 20px; max-width: 1400px; margin: auto; }
.card { background: var(--gris); border-radius: 15px; overflow: hidden; border: 1px solid #333; transition: 0.4s; }
.card img { width: 100%; height: 180px; object-fit: cover; }
.card-info { padding: 15px; text-align: center; }
.card-info h3 { color: var(--rojo); margin: 0; text-transform: uppercase; }

/* Selectores */
.papatenco-select { 
    width: 100%; background: #111; color: var(--dorado); border: 1px solid #444; 
    padding: 6px; margin-top: 5px; border-radius: 5px; font-family: 'Poppins';
}
.option-title { font-size: 0.7em; color: var(--dorado); display: block; margin-top: 8px; text-align: left; }

.btn-add { 
    background: var(--rojo); color: white; border: none; padding: 10px; 
    border-radius: 5px; cursor: pointer; width: 100%; font-weight: bold; margin-top: 15px;
}

/* Carrito */
#cart-drawer {
    position: fixed; bottom: 0; left: 0; width: 100%; background: var(--negro);
    border-top: 3px solid var(--dorado); z-index: 2000; padding: 20px; transition: 0.5s;
}
.cart-hidden { transform: translateY(100%); }
.cart-container { max-width: 800px; margin: auto; }
.cart-header { display: flex; justify-content: space-between; color: var(--dorado); font-weight: bold; }
#cart-items-list { max-height: 100px; overflow-y: auto; margin: 10px 0; font-size: 0.85em; }
.total-label { font-size: 1.5em; color: var(--dorado); font-weight: bold; }
.btn-pay { background: #25d366; color: black; border: none; padding: 10px 30px; border-radius: 5px; font-weight: bold; cursor: pointer; }

/* Reveal */
.reveal { opacity: 0; transform: translateY(30px); transition: 0.8s; }
.reveal.active { opacity: 1; transform: translateY(0); }